---
import { FiLinkedin, FiGithub, FiTwitter, FiCoffee } from 'react-icons/fi/index.js';

---

<div class="block sticky pointer-events-none bottom-10 bg-slate-200 dark:bg-zinc-800 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]">
</div>

<div class="social-icons px-4 pb-5 pt-1 flex gap-2 self-center justify-center sticky bottom-0 bg-slate-200 dark:bg-zinc-800">
    <a href="https://www.buymeacoffee.com/hampussanden" target="_blank"><FiCoffee size={28} className="mr-3"></FiCoffee></a>
    <a href="https://github.com/hampussanden" target="_blank"><FiGithub size={28} className="mr-3"></FiGithub></a>
    <a href="https://www.linkedin.com/in/hampussanden/" target="_blank"><FiLinkedin size={28} className="mr-3"></FiLinkedin></a>
    <a href="https://twitter.com/hampussanden" target="_blank"><FiTwitter size={28} className="mr-3"></FiTwitter></a>
</div>
